* {
    Box-sizing: border-box
}

.logo {
    max-width: 10vw;
    margin: 0px 20px;
}

body {
    font-family: Arial;
    margin: 0;
}

.effect {
    background-color: black;
}

nav {
    background-color: white;
    color: #00a98d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
}

nav a:hover {
    color: #ff6d7a;
    text-decoration: underline wavy;
}

a {
    text-decoration: none;
    color: #00a98d;
}



a:active {
    color: #ff6d7a;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

}

li {
    display: block;
    list-style-type: none;
    margin: 0px 20px;
    padding: 0px;
}

h2 {
    color: #ff6d7a;
}

article img {
    display: block;
    width: 100%;
}

#gallerij {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /*Bron: Grid Code geinspireerd door Layout Land Created by Jen Simmons, Mozilla Designer and Developer Advocate.*/
    grid-gap: 2vw;
    padding: 8em 2em;

}

section H1 {
    display: none;
}

.trans {
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.59, -0.19, .94, .65);
}

.trans:hover {
    width: 80%;
    transform: rotate(45deg)
}

/*maakt de class trans 80% van het orginineel en laat het 45 graden draaien*/

footer h1 {
    position: fixed;
    top: 20%;
    left: 10%;
    color: rgb(232, 188, 64);
    font-size: 4vw;
}

.button {
    background-color: #ff6d7a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 0em 4em 4em 0em;
    cursor: pointer;
    position: fixed;
    bottom: 1%;
    transition-duration: 10s;
}

.button:hover {
    width: 20%;
}

/* About Me*/

.me {
    width: 50%;
    max-width: 300px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
}

.image {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: #00a98d;
    background: rgba(0, 169, 141, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.me:hover .overlay {
    opacity: 1;
}

/* Contact */

form {
    color: #ff6d7a;
    display: flex;
    justify-content: center;
}

input[type=text],
select,
textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-color: rgb(232, 188, 64);
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #00a98d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #ff6d7a;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 500px;
}

fieldset {
    border: none;
    margin-top: 8em;
}

legend {
    font-size: 2em;
    font-weight: 600;
    padding: 0;
    margin-bottom: .5em;
    color: rgb(232, 188, 64);
    text-align: center;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightcoral;
    }
}
