* {
    Box-sizing: border-box
}

.logo {
    max-width: 10vw;
    margin: 0px 20px;
}

body {
    font-family: Arial;
    margin: 0;
}

nav {
    background-color: white;
    color: #00a98d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #00a98d;
}

a:hover {
    color: #ff6d7a;
}

a:active {
    color: #ff6d7a;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

li {
    display: block;
    list-style-type: none;
    margin: 0px 20px;
    padding: 0px;
}

h2 {
    color: #ff6d7a;
}

article img {
    display: block;
    width: 100%;
}

#gallerij {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2vw;
}

/* About Me*/

.me {
    width: 50%;
    max-width: 300px;
    position: relative;
}

.image {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: #00a98d;
    background: rgba(0, 169, 141, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.me:hover .overlay {
    opacity: 1;
}

/* Contact */

form {
    color: #ff6d7a;
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

input[type=text],
select,
textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-color: rgb(232, 188, 64);
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #00a98d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #ff6d7a;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 500px;
}

fieldset {
    border: none;
}

legend {
    font-size: 2em;
    font-weight: 600;
    padding: 0;
    margin-bottom: .5em;
    color: rgb(232, 188, 64);
    text-align: center;
}
